*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header_wapper .navbar{
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-brand{
    max-width: 120px;
    height:auto ;
}
.navbar-toggler{
    border: 0;
    line-height: 2;
    color:aqua;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-item {
    margin: 0 10px;
}
.nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 243, 73);
    text-transform: uppercase;
    display: inline-block;
}
.nav-item .nav-link::after{
    position:absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background:#FD4766;
    transition: 0.3s;
    bottom: 0;

}
.nav-item .nav-link.active::after,
.nav-item .nav-link:hover::after{
    width:100%;
}
.nav-item .nav-link.active,
.nav-item.nav-link:hover{
    color:rgb(56, 252, 30);
}
.nav-link:hover{
    color:rgb(172, 23, 43);


}
.banner-wrapper{
    width: 100%;
    height:30px;
    min-height: 650px;
    background-image: url('/d:/portfolio/images/p3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    background-attachment:local;
    padding: 200px 0 100px 0
 }
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow: 0 4px 6px rgba(12,0,46,.05);
    box-shadow: 0 4px 6px rgba(12,0,46,.05);

}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: var(--primary-text);
}

:root{
    /*Background Color*/
    --primary-color: #FD4766;
    --secondary-color: #0e1525;
    --bg-dark-blue : #875ef7;
    --bg-white: rgb(240, 172, 172);
    --gray-color:var(--gray-color);
    --gradient-color: linear-gradient(-224deg, var(--primary-color)0, #337DFF 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color)79.69%);

    /* Text Color */
    --primary-font: 'Poppins', sans-serif;
    --primary-text: #FD4766;
    --text-white: #fff;
    --text-gray: #ff3b8de3;

}
body{
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}
/* Coustom */
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar-track{
        background:rgb(179, 112, 13);
    }
    ::-webkit-scrollbar-thumb{
        background: var(--primary-color);
    }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
section{
    padding: 50px 0;
}
.main-btn{
    display: inline-block;
    border: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border:2px solid rgb(255, 170, 65);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color:var(--primary-color);
    border-color:var(--primary-color) ;
    color: #fff;
}
h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
 }
h1 span{
    color: var(primary-color);
 }
h2{
    font-size: 30px;
    line-height: 2.3px;
    font-weight: 500;
    color: var(--primary-text);
    margin-bottom: 20px;
 }
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 19px;
 }
h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display:block;
    color: var(--text-white);
    margin-bottom: 20px;
 }
 h6 br{
    color: #337DFF;
 }
p{
    color:var(--text-gray);
    font-size:16px;
    line-height: 14px;
    letter-spacing: 0.5px;
    font-weight: 200;

 }
.subtitle{
    display:inline-flex;
    font-weight: 100px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    outline:none;
    box-shadow: none;
 }
 .about_wrapper ul.nav-tabs{
    border: 1px solid var(--gray-color);
    border-radius: 50px;
 }
 .about_wrapper ul.nav-link{
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition:all 0.45s cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    color: var(--text-black);
    border: 0;
 }
 .about_wrapper ul.nav-link.active{
    background-color: var(--primary-color);
 }
 .about_wrapper .single-progress{
    margin-top: 50px;
    position: relative;
    overflow:visible;
 }
 .about_wrapper .single-progress.progress-bar{
    background-image: var(--gradient-color);
 }
 .about_wrapper.tab-pane{
    color:#fff;
    font-size: 16px;
 }
 .contact_wrapper .from-control,
 .contact_wrapper textarea{
    background-color: transparent;
    background-color: var(--gray-color);
    color: var(--text-white);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
 }
 .contact_wrapper .from-control:hover,
 .contact_wrapper textarea:hover,
 .contact_wrapper .from-control:focus,
 .contact_wrapper textarea:focus{
    border-color: var(--primary-color);
    color: var(--text-yellow);
 }
 .contact_wrapper .call_Details{
    color:var(--text-white);
 }
 .contact_wrapper .call_Details a{
    font-weight: 700;
    color:chartreuse
 }